@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@200;400;600;700;800&display=swap');

/* Common shared style section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.bg-primary {
    width: 70%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 120px auto 0;
}

.color-primary,
span {
    color: #F00;
}

.bg-primary-color {
    background-color: #FFF;
}

.text-primary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border: 0;
    border-radius: 8px;
    background-color: #F00;
    cursor: pointer;
}


/* Banner section styles */
.banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-Image.png');
    background-repeat: no-repeat;
    margin: 50px auto 0;
    text-align: center;
}

.banner-container .banner-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 177px;
}

.banner-container .banner-items .banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-container .banner-items .banner-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 630px;
}

/* Offer deals section styles */
.deal-container {
    text-align: center;
    margin: 120px auto 0;
}

.deal-container .deal-items .offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.deal-container .deal-items .deal-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.deal-container .deal-items .categori-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.deal-container .deal-img {
    margin-top: 48px;
}

.deal-container .deal-img img {
    max-width: 800px;
}

/* Welcome banner styles */
.welcome-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/party.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.welcome-container .welcome-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.welcome-container .welcome-items .welcome-texts .welcome-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    max-width: 642px;
}

.welcome-container .welcome-items .welcome-texts .welcome-description {
    color: rgba(255, 255, 255, 0.80);
    max-width: 700px;
    margin-top: 25px;
}

.welcome-container .welcome-items #btn {
    margin-top: 25px;
}

.welcome-container .welcome-items .welcome-img img {
    max-width: 320px;
}

.info-container {
    max-height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;

}

.info-container .info-contents {
    padding: 100px;
}

.info-container .info-contents .infos {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.info-container .info-contents #join-btn {
    margin-top: 48px;
}