@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* Common shared style section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.bg-primary {
    width: 70%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 120px auto 0;
}

.color-primary,
span {
    color: #F00;
}

.bg-primary-color {
    background-color: #FFF;
}

.text-primary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border: 0;
    border-radius: 8px;
    background-color: #F00;
    cursor: pointer;
}


/* Banner section styles */
.banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-Image.png');
    background-repeat: no-repeat;
    margin: 50px auto 0;
    text-align: center;
}

.banner-container .banner-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 177px;
}

.banner-container .banner-items .banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-container .banner-items .banner-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 630px;
}

/* Offer deals section styles */
.deal-container {
    text-align: center;
    margin: 120px auto 0;
}

.deal-container .deal-items .offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.deal-container .deal-items .deal-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.deal-container .deal-items .categori-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.deal-container .deal-img {
    margin-top: 48px;
}

.deal-container .deal-img img {
    max-width: 800px;
}

/* Welcome banner styles */
.welcome-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/party.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.welcome-container .welcome-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.welcome-container .welcome-items .welcome-texts .welcome-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    max-width: 642px;
}

.welcome-container .welcome-items .welcome-texts .welcome-description {
    color: rgba(255, 255, 255, 0.80);
    max-width: 700px;
    margin-top: 25px;
}

.welcome-container .welcome-items #btn {
    margin-top: 25px;
}

.welcome-container .welcome-items .welcome-img img {
    max-width: 320px;
}

.info-container {
    max-height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;

}

.info-container .info-contents {
    padding: 100px;
}

.info-container .info-contents .infos {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.info-container .info-contents #join-btn {
    margin-top: 48px;
}

/* Best offer section styles */
.best-offer-container {
    max-height: 463px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

.best-offer-container .best-offer-contents {
    display: flex;
    align-items: center;
    gap: 165px;
    justify-content: space-between;
}

/* .best-offer-container .best-offer-contents .offer-deadline {} */

.best-offer-container .best-offer-contents .offer-deadline .deadline-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-container .best-offer-contents .offer-deadline .deadline-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.best-offer-container .best-offer-contents .offer-deadline .deadline-description {
    margin-top: 22px;
}

.best-offer-container .best-offer-contents .Celebrate-img {
    border: 20px solid #F00;
    border-radius: 100%;
    margin: 0 auto;
    padding: 25px;
}

.best-offer-container .best-offer-contents .Celebrate-img img {
    /* max-width: 360px; */
    /* display: inline; */
}

.best-offer-container .best-offer-contents .offer-year .year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.best-offer-container .best-offer-contents .offer-year .year-description {
    margin-top: 16px;
}

.best-offer-container .best-offer-contents .offer-year img {
    margin-top: 43px;
}

/* Holiday deal container styles */
.holiday-container {
    text-align: center;
    width: 70%;
    max-width: 1320px;
    border-radius: 16px;
    margin: 120px auto 0;
    /* background-color: aqua; */
    background-image: url('../images/person.png'), url('../images/red-rectangle.png');
    background-repeat: no-repeat;
    background-position: center right, bottom;
}

.holiday-container .holiday-contents {}

.holiday-container .holiday-contents .holiday-texts {}

.holiday-container .holiday-contents .holiday-texts .holiday-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.holiday-container .holiday-contents .holiday-texts .holiday-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.holiday-container .holiday-contents .holiday-texts .holiday-description {
    max-width: 1068px;
    margin: 28px auto 0;

}

/* .holiday-container .holiday-contents .discount{
    display: flex;
    align-items: center;
} */

.holiday-container .surprise-img {
    display: flex;
    gap: 0px;
    align-items: center;
    padding-right: 300px;
    justify-content: left;
}

.holiday-container .surprise-img .discount {
    /* margin: 0 200px 0 0; */
    padding: 0 0px 200px 0;
    /* background-color: aqua; */

}