@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

/* Common shared style section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.bg-primary {
    width: 70%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 120px auto 0;
}

.color-primary,
span {
    color: #F00;
}

.bg-primary-color {
    background-color: #FFF;
}

.text-primary,
.contact-info p,
.copyright {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border: 2px solid #F00;
    border-radius: 8px;
    background: none;
    cursor: pointer;
}

/* Hover effect section */
.btn-primary:hover {
    background-color: #F00;
    color: #FFF;
    border: 0;
    transition: 1s;
}

.best-offer-container .best-offer-contents .Celebrate-img img:hover {
    padding: 0;
    transition: 1s;
}

.portfolio-container .image-container img:hover {
    background-color: #F00;
    border-top: 70px solid #F00;
    border-bottom: 20px solid #F00;
    border-radius: 16px;
    box-shadow: 0 0 30px lightgrey;
    transition: 1s;
    cursor: grabbing;
}

/* Banner section styles */
.banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-Image.png');
    background-repeat: no-repeat;
    margin: 50px auto 0;
    text-align: center;
}

.banner-container .banner-items,
.news-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 177px;
}

.banner-container .banner-items .banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-container .banner-items .banner-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 630px;
}

/* Offer deals section styles */
.deal-container {
    text-align: center;
    margin: 120px auto 0;
}

.deal-container .deal-items .offer-title {
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.deal-container .deal-items .deal-title {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.deal-container .deal-items .category-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.deal-container .deal-img {
    margin-top: 48px;
}

.deal-container .deal-img img {
    max-width: 800px;
}

/* Welcome banner styles */
.welcome-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/party.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.welcome-container .welcome-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.welcome-container .welcome-items .welcome-texts .welcome-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    max-width: 642px;
}

.welcome-container .welcome-items .welcome-texts .welcome-description {
    color: rgba(255, 255, 255, 0.80);
    max-width: 700px;
    margin-top: 25px;
}

.welcome-container .welcome-items #btn {
    margin-top: 25px;
}

.welcome-container .welcome-items .welcome-img img {
    max-width: 320px;
}

/* Information section styles */
.info-container {
    max-height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;

}

.info-container .info-contents {
    padding: 100px;
}

.info-container .info-contents .infos {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.info-container .info-contents #join-btn {
    margin-top: 48px;
    color: #070211;
}

/* Best offer section styles */
.best-offer-container .best-offer-contents {
    display: flex;
    align-items: center;
    gap: 165px;
    justify-content: space-around;
}

.best-offer-container .best-offer-contents .offer-deadline .deadline-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-container .best-offer-contents .offer-deadline .deadline-heading,
.portfolio-heading,
.news-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.best-offer-container .best-offer-contents .offer-deadline .deadline-description {
    margin-top: 22px;
}

.best-offer-container .best-offer-contents .Celebrate-img img {
    border: 20px solid #F00;
    border-radius: 100%;
    margin: 0 auto;
    padding: 25px;
}

.best-offer-container .best-offer-contents .offer-year .year {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.best-offer-container .best-offer-contents .offer-year .year-description {
    margin-top: 16px;
}

.best-offer-container .best-offer-contents .offer-year img {
    margin-top: 43px;
}

/* Holiday deal container styles */
.holiday-container {
    text-align: center;
    width: 70%;
    max-width: 1320px;
    border-radius: 16px;
    margin: 120px auto 0;
}

.holiday-container .holiday-contents .holiday-texts .holiday-title,
.portfolio-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.holiday-container .holiday-contents .holiday-texts .holiday-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.holiday-container .holiday-contents .holiday-texts .holiday-description {
    max-width: 1068px;
    margin: 28px auto 0;

}

.holiday-container .surprise-img {
    background-image: url('../images/person.png'), url('../images/red-rectangle.png');
    background-repeat: no-repeat;
    background-position: top right, center bottom;
    display: flex;
    gap: 0px;
    justify-content: space-around;
    margin-top: 70px;
    padding-right: 350px;
    height: 662px;
}

.holiday-container .surprise-img .discount {
    margin: 80px 0 0;
}

/* Portfolio section styles */
.portfolio-container {
    width: 70%;
    max-width: 1320px;
    border-radius: 16px;
    margin: 120px auto 0;
}

.portfolio-container .portfolio-texts .portfolio-title {
    color: #F00;
    margin: 0;
}

.portfolio-container .portfolio-texts .portfolio-heading {
    margin: 16px 0 0 0;
}

.portfolio-container .portfolio-texts .portfolio-description {
    max-width: 800px;
    margin: 18px 0 0 0;
}

.portfolio-container .image-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1320px;
    flex-direction: row;
    margin-top: 50px;
}

.portfolio-container .image-container img {
    width: 100%;
}

/* Newsletter section styles */
.newsletter-container {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-container .news-items {
    padding: 80px;
}

.newsletter-container .news-items .news-title {
    margin: 40px 0 0 0;
}

.newsletter-container .news-items .news-description {
    max-width: 800px;
    margin: 20px 0 0 0;
}

.newsletter-container .news-items .subscribe-field {
    margin: 50px 0 0 0;
}

.newsletter-container .news-items .subscribe-field input {
    padding: 25px 40px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-radius: 50px 0 0 50px;
    margin: 0;
}

.newsletter-container .news-items .subscribe-field #sub-btn {
    border-radius: 0 50px 50px 0;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    background-color: #F00;
    cursor: pointer;
    margin: 0;
}

/* Footer section styles */
footer {
    background-color: #070211;
    padding: 140px;
    margin-top: 120px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.contact p a {
    text-decoration: none;
    color: #FFF;
}

.contact p,
.copyright p {
    color: #FFF
}

.social-icons {
    text-align: center;
    margin: 0 0 50px;
}

.social-icons img {
    margin: 0 10px 0;
    cursor: pointer;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: 0 0 50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}